/* RESET DASAR */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#eef2ff,#f8fafc);
    color: #333;
}


/* HEADER */

h1 {
    text-align: center;
    padding: 25px;
    margin: 0;
    color: white;
    background: linear-gradient(to right,#1e3a8a,#2563eb);
    letter-spacing: 1px;
}


/* NAVBAR */

nav {

    text-align: center;

    padding: 15px;

    background-color: white;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

}


nav a {

    text-decoration: none;

    margin: 0 20px;

    font-weight: bold;

    color: #1e3a8a;

    padding: 8px 15px;

    border-radius: 20px;

    transition: 0.3s;

}


nav a:hover {

    background-color: #2563eb;

    color: white;

}


/* JUDUL */

h2 {

    margin-left: 40px;

    color: #1e3a8a;

}


/* TEXT */

p {

    margin: 15px 40px;

    line-height: 1.7;

}


ul {

    margin-left: 60px;

    line-height: 1.7;

}


/* GARIS */

hr {

    margin: 30px 40px;

    border: none;

    height: 2px;

    background: linear-gradient(to right,#2563eb,transparent);

}


/* FITUR / PORTFOLIO */

.portfolio-container {

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 25px;

    padding: 20px;

}


.project {

    background-color: white;

    width: 260px;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);

    text-align: center;

    transition: 0.3s;

}


.project:hover {

    transform: translateY(-8px);

    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);

}


/* ABOUT PAGE */

.about-container {

    width: 80%;

    margin: auto;

    margin-top: 30px;

}


/* INTRO */

.about-intro {

    background: linear-gradient(to right,#1e3a8a,#2563eb);

    color: white;

    padding: 35px;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0px 6px 20px rgba(0,0,0,0.2);

    margin-bottom: 30px;

}


/* BOX */

.about-box {

    background-color: white;

    padding: 25px;

    margin-bottom: 25px;

    border-radius: 15px;

    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);

    transition: 0.3s;

}


.about-box:hover {

    transform: scale(1.02);

}


/* HIGHLIGHT */

.about-highlight {

    background: linear-gradient(to right,#2563eb,#60a5fa);

    color: white;

    padding: 25px;

    border-radius: 15px;

    margin-bottom: 25px;

    text-align: center;

    box-shadow: 0px 6px 15px rgba(0,0,0,0.2);

}


/* CONTACT */

.contact-box {

    background-color: white;

    width: 400px;

    margin: auto;

    margin-top: 30px;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);

}


/* FOOTER */

footer {

    text-align: center;

    padding: 20px;

    margin-top: 40px;

    background: linear-gradient(to right,#1e3a8a,#2563eb);

    color: white;

}